.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-blue);
  justify-content: center;
  height: 70px;
}

.title {
  color: var(--text);
  font-family: var(--primary-font);
}

@media (max-width: 400px) {
  .title {
    font-size: 25px;
  }
}

@media (max-width: 330px) {
  .title {
    font-size: 22px;
  }
}
