:root {
  --primary-blue: #2e5fae;
  --secondary-blue: #2196f3;
  --tertiary-orange: #fd521b;
  --light-blue: #3ac9e7;
  --indicator-grey: #ccc;
  --indicator-red: red;
  --indicator-yellow: yellow;
  --indicator-green: #0aff00;
  --text: white;
}
