.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(45deg, #2196f3, yellow);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -200px;
}

.label {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.input {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  transition:
    border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

input:focus {
  border-color: #a9a9a9;
  box-shadow:
    0 0 10px #a9a9a9,
    0 0 20px #c0c0c0;
  background-color: #f5f5f5;
  outline: none;
}

.strength-indicator {
  height: 10px;
  width: 30px;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
}

.strength-indicators {
  flex-direction: row;
  margin-bottom: 10px;
}

.first,
.second,
.third {
  background-color: #ccc;
}

.active {
  border-radius: 5px;
}

.first.week,
.second.week,
.third.week,
.first.easy {
  background-color: red;
}

.first.medium,
.second.medium {
  background-color: yellow;
}

.first.strong,
.second.strong,
.third.strong {
  background-color: #0aff00;
}

.button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #4285f4;
}

.button:hover {
  background-color: #3c78d8;
}
