.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: var(--primary-font);
  background: linear-gradient(45deg, var(--secondary-blue), var(--tertiary-orange));
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -100px;
}

.label {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 32px;
  color: var(--text);
}

.input {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  transition:
    border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  font-size: 16px;
  font-family: var(--primary-font);
}

input:focus {
  border-color: #a9a9a9;
  box-shadow:
    0 0 10px #a9a9a9,
    0 0 20px #c0c0c0;
  background-color: #f5f5f5;
  outline: none;
}

.strength-indicator {
  height: 10px;
  width: 30px;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
}

.strength-indicators {
  flex-direction: row;
  margin-bottom: 10px;
}

.first,
.second,
.third {
  background-color: #ccc;
}

.active {
  border-radius: 5px;
}

.first.weak,
.second.weak,
.third.weak,
.first.easy {
  background-color: var(--indicator-red);
}

.first.medium,
.second.medium {
  background-color: var(--indicator-yellow);
}

.first.strong,
.second.strong,
.third.strong {
  background-color: var(--indicator-green);
}

.button {
  padding: 10px;
  color: var(--text);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 20px;
  margin-bottom: 10px;
  background-color: var(--light-blue);
}

.button:hover {
  background-color: var(--tertiary-orange);
}

@media (max-width: 400px) {
  .label {
    font-size: 25px;
  }

  .button {
    font-size: 16px;
  }

  .input {
    width: 150px;
  }
}
