<div class="container">
  <div class="content">
    <label class="label" for="password">Enter password:</label>
    <input class="input" type="{{ showPassword ? 'text' : 'password' }}" id="password" [formControl]="passwordControl" />
    <div class="strength-indicators">
      <div
        class="strength-indicator first"
        [ngClass]="{ weak: passwordStrength === 'weak', easy: passwordStrength === 'easy', medium: passwordStrength === 'medium', strong: passwordStrength === 'strong' }"
      ></div>
      <div
        class="strength-indicator second"
        [ngClass]="{ weak: passwordStrength === 'weak', medium: passwordStrength === 'medium', strong: passwordStrength === 'strong' }"
      ></div>
      <div class="strength-indicator third" [ngClass]="{ weak: passwordStrength === 'weak', strong: passwordStrength === 'strong' }"></div>
    </div>
    <button class="button" type="button" (click)="togglePasswordVisibility()">{{ showPassword ? 'Hide' : 'Show' }} password</button>
  </div>
</div>
