.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-blue);
  height: 70px;
}

.rights {
  color: var(--text);
  font-family: var(--primary-font);
}

@media (max-width: 400px) {
  .rights {
    font-size: 14px;
  }
}

@media (max-width: 330px) {
  .rights {
    font-size: 10px;
  }
}
